# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
runtime/

# C extensions
*.so

# Vim stuff
*.swp

# Environments
.env
.venv
.cache
.envrc

lttng_ivc.egg-info/
lttng_ivc/debug.log
lttng_ivc/run_configuration.yaml
